
<h1>PRODUCTOS SIN SOCKET , NO TE OLVIDES DE NAVEGAR A /HOME😎 </h1>


{{#if products.length}}
    {{#each products}}
    <ul>
        <li>{{this.title.title}}</li>
        <li>{{this.title.description}}</li>
        <li>{{this.title.price}}</li>
        <li>{{this.title.stock}}</li>
        <li>{{this.title.price}}</li>
        
    </ul>
    {{/each}}
{{else}}
    <p>No tenemos usuarios</p>
{{/if}}


